**/bin/
**/obj/
**/.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
x64/
artifacts/
TestResults/
*.trx
coverage*
*.DotSettings.user
appsettings.local.json
*.log
Thumbs.db
Desktop.ini
.idea/
